<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <style>
        th, td {
            text-align: center;
        }
        .sun {
            color: red;
        }
        .sat {
            color: blue;
        }
    </style>
  </head>
  <body>
    <h1>2020년 1월 달력</h1>
    <div>
        <button>작년</button>
        <button>이전전달</button>
        <button>이전달</button>
        <button>오늘</button>
        <button>다음달</button>
        <button>다다음달</button>
        <button>내년</button>
    </div>
    <table>
        <thead>
            <tr>
                <th class="sun">일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th class="sat">토</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script>
        // 

    </script>
  </body>
</html>